<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- Start Success and Error Messages -->
      <% include ./notificationbar %>
    <!-- End Success and Error Messages -->
    <p>
        ID: <%= user.id %><br/>
        Username: <%= user.username %><br/>
        Name: <%= user.displayName %><br/>
        <% if (user.emails) { %>
        Email: <%= user.emails[0].value %><br/>
        <% } %>
    </p>
    <a href="/auth/logout">Log out</a>
    </body>
</html>